<div id="slide-show-root">
  <div id="slide-show">
    <div id="slide-show-left" [ngClass]="{ 'disabled': isLeft }" type="button" (click)="onLeftClick($event)">
      <img src="../../assets/images/left.png" class="slider">
    </div>
    <div id="slide-show-main">
      <li *ngFor= "let image of imageModelArray; let i = index">
        <img *ngIf= "i === index" [src]="image.path">
        <!-- ↓課題2で使用 -->
        <!-- <div id="tag-view-area">
          <span>tag</span>
        </div> -->
      </li>
    </div>
    <div id="slide-show-right" [ngClass]="{'disabled': isRight}" type="button" (click)="onRightClick($event)">
      <img src="../../assets/images/right.png" class="slider">
    </div>
  </div>
</div>