<div id="slide-show-root">
  <div id="slide-show">
    <div id="slide-show-left" [ngClass]="{ 'disabled': false }">
      <img src="../../assets/images/left.png" class="slider" (click)="LeftClick($event)">
    </div>
    <div id="slide-show-main">
      <li *ngFor= "let image of images; let i = index;">
        <img [src]="image.path" *ngIf = "i == showIndex">
        <!-- ↓課題2で使用 -->
        <div id="tag-view-area" *ngIf = "i == showIndex"> 
          <span>tag</span>
        </div>
      </li>
    </div>
    <div id="slide-show-right" [ngClass]="{'disabled': false}">
      <img src="../../assets/images/right.png" class="slider"(click)="RightClick($event)">
    </div>
  </div>
</div>