<div id="slide-show-root">
  <div id="slide-show">
    <div id="slide-show-left" [ngClass]="{ 'disabled': false }">
      <img src="../../assets/images/left.png" class="slider" (click)="decrementer($event)" >
    </div>
    <div id="slide-show-main">
      <li *ngFor = "let image of images; let i = index">
        <img *ngIf = "i === showIndex" [src]="image.path" >
        <!-- ↓課題2で使用 -->
        <div *ngIf = "i === showIndex" id="tag-view-area">
          <span *ngFor = "let tag of image.tags; let j =index"><span *ngIf= "j !==0">,</span>{{tag}}</span>
        </div>
      </li>
    </div>
    <div id="slide-show-right" [ngClass]="{'disabled': false}">
      <img src="../../assets/images/right.png" class="slider" (click)="incrementer($event)" >
    </div>
  </div>
</div>